In [ ]:
#Addition
2+1

In [ ]:
# Subtraction
2-1

In [ ]:
# Multiplication
2*3

In [ ]:
# Dividion
2/2

In [ ]:
# Floor division
7//4

In [ ]:
# Powers means 2*2*2
2**3

In [ ]:
# Can also do roots this way 4 under root of 2 is
4**0.5

In [ ]:
# Order of Operations followed in Python(BODMAS RULE)
2 + 10 * 10 + 3

In [ ]:
# Can use parentheses to specify orders
(2+10)*(10+3)

In [ ]:
#Variables calculations

In [ ]:
a=5

In [ ]:
a+a

In [ ]:
# Re-assignment
a=10

In [ ]:
a+a

In [ ]:
# Re-assignment
a=20

In [ ]:
type(a)

In [ ]:
a=(1,2)

In [ ]:
type(a)

In [ ]:
# Use object names to keep better track of what's going on in your code!
my_income = 25000

tax_rate = 0.12

my_taxes = my_income*tax_rate

In [ ]:
# Show my taxes!
my_taxes

In [ ]:
my_dogs=2

In [ ]:
my_dogs

In [ ]:
my_dogs=['pluto','scooby']

In [ ]:
my_dogs

In [ ]:
a= 'Dixith'

In [ ]:
type(a)

In [ ]:
a=(1,2)

In [ ]:
type(a)

In [ ]:
a=1

In [ ]:
type(a)

In [ ]:
# single world
'hello'

In [ ]:
# Entire phrase
'This is also a string'

In [ ]:
"we can also use double quotes"

In [ ]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

In [ ]:
"Now I'm ready to use the single quotes inside a string!"

In [ ]:
# We can simply declare a string
'Hello World'

In [ ]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

In [ ]:
print('Akula')
print('Dixith')
print('kumar')

In [ ]:
print('Hello World 1')
print('Hello World 2')
print('Use \t to print a new line')
print('\n')
print('See what I mean?')

In [ ]:
len('Hello world')

In [ ]:
# Assign A as a string
A= 'Dixith'

In [ ]:
# Check
A

In [ ]:
# Print the object
print(A)

In [ ]:
# Show first element (in this case a letter)
A[0]

In [ ]:
A[1]

In [ ]:
A[2]

In [ ]:
A[3]

In [ ]:
A[4]

In [ ]:
A[5]

In [ ]:
# s[startpoint:endpoint:steps]
# startpoint = 0
# endpoint = len(s)
# steps =1

In [ ]:
A

In [ ]:
A[0:6:1]

In [ ]:
# Grab everything past the first term all the way to the length of s which is len(s)
A[1:]

In [ ]:
# Note that there is no change to the original s
A

In [ ]:
# Grab everything UP TO the 3rd index
A[:3]

In [ ]:
#Everything
A[:]

In [ ]:
# Last letter (one index behind 0 so it loops back around)
A[-1]

In [ ]:
# Grab everything but the last letter
A[:-1]

In [ ]:
# Grab everything, but go in steps size of 1
A[::1]

In [ ]:
# Grab everything, but go in step sizes of 2
A[::2]

In [ ]:
num_string='0123456789'

In [ ]:
num_string[::2]

In [ ]:
# We can use this to print a string backwards
A[::-1]

In [ ]:
# anagram --> words which can be read same way left to right and right to left.
# eye, madam, mom

In [ ]:
var = "madam"

In [ ]:
var[::-1]

In [ ]:
var = "mom"

In [ ]:
var[::-1]

In [ ]:
var = "eye"

In [ ]:
var[::-1]

In [ ]:
var_name="I love pizza and icecream."
# var_name="mac donld's"

In [ ]:
# donld
var_name[17:-1]

In [ ]:
A='DIXITH'

In [ ]:
A

In [ ]:
# KUMAR AKULA!
A+' KUMAR AKULA!'

In [ ]:
# We can reassign A completely though!
A=A+' KUMAR AKULA!'

In [ ]:
print(A)

In [ ]:
A

In [ ]:
letter='a'

In [ ]:
letter*10

In [ ]:
A

In [ ]:
s = "Hello;Dixith;Vaishnavi;Ramya"

In [ ]:
# Upper Case a string
s.upper()

In [ ]:
# Lower case
s.lower()

In [ ]:
# Split a string by blank space (this is the default)
s.split()

In [ ]:
# Split by a specific element (doesn't include the element that was split on)
s.split(';')

In [ ]:
print("Dixith Kumar AKULA..!")

In [ ]:
"Hello World {student_name}"

In [ ]:
'Insert another string with curly brackets: {}'.format('The inserted string')

In [ ]:
print("Dixith {0},{1},{2} !!".format("Ambica","Ramya","Vaishnavi"))

In [ ]:
print("Dixith {2},{1},{0} !!".format("Ambica","Ramya","Vaishnavi"))

In [ ]:
print("Ramya {1},{0},{2} !!".format("Ambica","Dixith","Vaishnavi"))

In [ ]:
var = 'The inserted string'
f'Insert another string with curly brackets: {var}'

In [ ]:
student1="Prakash"
student2="Gaurav"
student3="Ami"
print(f"Hello world {student1},{student2},{student3}!!")

In [ ]:
student1 = "Prakash"
student2 = "Gaurav"
student3 = "Ami"
print(f"Hello World {student3},{student2},{student1} !!")

In [ ]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

In [ ]:
my_list = ['A string',23,100.232,'o']

In [ ]:
len(my_list)

In [ ]:
my_list = ['one','two','three',4,5]

In [ ]:
# Grab element at index 0
my_list[0]

In [ ]:
# Grab index 1 and everything past it
my_list[1:]

In [ ]:
# Grab everything UP TO index 3
my_list[:3]

In [ ]:
my_list + ['new item']

In [ ]:
my_list

In [ ]:
my_list

In [ ]:
# Re-assign
my_list=my_list+['add new item permanently']

In [ ]:
my_list

In [ ]:
# Make the list double
my_list * 2

In [ ]:
# Again doubling not permanent
my_list

In [ ]:
# Create a new list
list1 = [1,2,3]

In [ ]:
# Append
list1.append('append me!')

In [ ]:
# Show
list1

In [ ]:
# append another
list1.append('append another')

In [ ]:
list1

In [ ]:
list1=[1,2,3]

In [ ]:
list1.append([4,5,6])

In [ ]:
list1

In [ ]:
list1.extend([4,5,6,])

In [ ]:
list1

In [ ]:
# with append if you're adding multiple values it will be added as another list.
# with extend you can increase or add multiple individual objects.

In [ ]:
list1=[1,2,3,4,5,6]

In [ ]:
list1.pop(0)

In [ ]:
list1

In [ ]:
list1.pop()

In [ ]:
# show
list1

In [ ]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()

In [ ]:
popped_item

In [ ]:
# show remaining list1
list1

In [ ]:
list1=[1,2,3,34,4,5,6,]

In [ ]:
list1.remove(34)

In [ ]:
list1

In [ ]:
new_list=['a','e','b','x','c']

In [ ]:
#Show
new_list

In [ ]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [ ]:
new_list

In [ ]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [ ]:
new_list

In [ ]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [ ]:
# Show
matrix

In [ ]:
matrix[2]

In [ ]:
matrix[0][2]

In [ ]:
matrix[1][1]

In [ ]:
matrix[0][0]

In [ ]:
matrix[1][0]

In [ ]:
matrix[2][0]

In [ ]:
[matrix[0][0],matrix[1][0],matrix[2][0]]

In [ ]:
list1=[1,2,4,5,6]
# missed out number 3
list1

In [ ]:
list1.insert(2,3)
# insert(postion,vlaue)

In [ ]:
list1=[1,2,3,4,5,6]

In [ ]:
dir(list1)

In [ ]:
list1=[1,2,34,34,5,5,4,6]

In [ ]:
list1.count(34)

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
my_dict={
    
           'key1':'value1','key2':'value2'
        }

In [ ]:
# Call values by their key
my_dict['key2']

In [ ]:
type(my_dict)

In [ ]:
my_dict['key1']

In [ ]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [ ]:
# Let's call items from the dictionary
my_dict['key3']

In [ ]:
# Can call an index on that value
my_dict['key3'][0]

In [ ]:
# Can then even call methods on that value
my_dict['key3'][0].upper()

In [ ]:
my_dict['key1']

In [ ]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [ ]:
#Check
my_dict['key1']

In [ ]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

In [ ]:
# Create a new dictionary
d = {}

In [ ]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [ ]:
# Can do this with any object
d['answer'] = 42

In [ ]:
#Show
d

In [ ]:
a={}

In [ ]:
a['Dixith']='student'

In [ ]:
a['Ved']='Teacher'

In [ ]:
# show
a

In [ ]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [ ]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:
# Method to return a list of all keys 
d.keys()

In [ ]:
d.values()

In [ ]:
dir(d)

In [ ]:
d['key1']=5

In [ ]:
d

In [ ]:
# Create a tuple
t = (1,2,3)

In [ ]:
# Check len just like a list
len(t)

In [ ]:
# Can also mix object types
t = ('one',2)

# Show
t

In [ ]:
# Use indexing just like we did in lists
t[0]

In [ ]:
# Slicing just like a list
t[-1]

In [ ]:
t=(1,2,3,4,2,2,7,8,9)

In [ ]:
t.index(2)

In [ ]:
t.count(2)

In [ ]:
x = set()

In [ ]:
# We add to sets with the add() method
x.add(1)

In [ ]:
#Show
x

In [ ]:
my_list=[1,2,2,3,3,3,4,4,4,4,5,5,5,5,5,6,6,6,6,6,6,]

In [ ]:
list(set(my_list))

In [ ]:
x = set()

In [ ]:
# We add to sets with the add() method
x.add(3)

In [ ]:
#Show
x

In [ ]:
# Set object to be a boolean
a=True

In [ ]:
#Show
a=10

In [ ]:
# Output is boolean
5 > 15

In [ ]:
20 > 15

In [ ]:
dir(x)

In [ ]:
# None placeholder
b = None

In [ ]:
# Show
print(b)

In [ ]:
2 == 2

In [ ]:
1 == 0

In [ ]:
2 != 1

In [ ]:
2 != 2

In [ ]:
2 > 1

In [ ]:
2 > 4

In [ ]:
2 < 4

In [ ]:
2 < 1

In [ ]:
2 >= 2

In [ ]:
2 >= 1

In [ ]:
2 <= 2

In [ ]:
2 <= 4

In [ ]:
1 < 2 < 3

In [ ]:
1<2 and 2<3

In [ ]:
1 < 3 > 2

In [ ]:
1<3 and 3>2

In [ ]:
1==2 or 2<3

In [ ]:
1==1 or 100==1

In [ ]:
if True:
    print('It was true!')

In [ ]:
x=False
if x:
    print('x was true!')
else:
    print('I will be printed in any case where x is not true')

In [ ]:
x=True
if x:
    print('x was true!')
else:
    print('I will be printed in any case where x is not true')

In [ ]:
loc='Bank'

if loc=='Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc=='Bank':
    print('Welcome to the bank!')
else:
    print('Where are you?')

In [ ]:
loc=='Auto shop'

In [ ]:
loc=="Bank"

In [ ]:
person = 'Sammy'

if person == 'Sammy':
    print('Welcome Sammy!')
else:
    print("Welcome, what's your name?")

In [ ]:
person='George'

if person=='Sammy':
    print('Welcome Sammy!')
elif person=='George':
    print('Welcome George!')
else:
    print("Welcome, what's your name?")

In [ ]:
# We'll learn how to automate this sort of list in the next lecture
list1 = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for num in list1:
    print(num)

In [ ]:
17 % 5

In [ ]:
# 3 Remainder 1
10 % 3

In [ ]:
# 2 Remainder 4
18 % 7

In [ ]:
# 2 no remainder
4 % 2

In [ ]:
for num in list1:
    if num % 2 == 0:
        print(num)

In [ ]:
for num in list1:
    if num %2 == 0:
        print(num)
    else:
        print('odd number')

In [ ]:
# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum = list_sum + num

print(list_sum)

In [ ]:
# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum += num

print(list_sum)

In [ ]:
for letter in 'This is string.':
    print(letter)

In [ ]:
tup=(1,2,3,4,5)
for t in tup:
    print(t)

In [ ]:
list2=[(2,4),(6,8),(10,12)]

In [ ]:
for tup in list2:
    print(tup)

In [ ]:
# Now with unpacking!
for(t1,t2) in list2:
    print(t1)

In [ ]:
# Now with unpacking!
for(t1,t2) in list2:
    print(t2)

In [ ]:
d={'k1':1,'k2':2,'k3':3}

In [ ]:
for item in d:
    print(item)

In [ ]:
# Create a dictionary view object
d.items()

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
# Dictionary unpacking
for k,v in d.items():
    print(k)
    print(v)

In [ ]:
list(d.keys())

In [ ]:
sorted(d.values())

In [ ]:
x = 0

while x < 10:
    print('x is currently:',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1

In [ ]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    
else:
    print('All Done!')

In [ ]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('x==3')
    else:
        print('continuing...')
        continue

In [ ]:
x=0
while x < 10:
    print('x is currently:',x)
    print('x is still less than 10,adding 1 to x')
    x+=1
    if x==3:
        print('Breaking because x==3')
        break
    else:
        print('continuing...')
        continue

In [ ]:
range(0,11)

In [ ]:
# Notice how 11 is not included, up to but not including 11, just like slice notation!
list(range(0,11))

In [ ]:
list(range(0,12))

In [ ]:
# Third parameter is step size!
# step size just means how big of a jump/leap/step you 
# take from the starting number to get to the next number.

list(range(0,11,2))

In [ ]:
list(range(0,101,10))

In [ ]:
index_count=0
for letter in 'abcdef':
    print("At index {} the letter is {}".format(index_count,letter))
    index_count+=1

In [ ]:
# Notice the tuple unpacking!

for i,letter in enumerate('abcdef'):
    print("At index {} the letter is {}".format(i,letter))

In [ ]:
# Notice the tuple unpacking!
# print every letter at odd position

for i,letter in enumerate('abcdef'):
    
    if i % 2 !=0:
        print("At index {} the letter is {}".format(i,letter))

In [ ]:
list(enumerate('abcde'))

In [ ]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']

In [ ]:
# This one is also a generator! We will explain this later, but for now let's transform it to a list
zip(mylist1,mylist2)

In [ ]:
list(zip(mylist1,mylist2))

In [ ]:
for item1, item2 in zip(mylist1,mylist2):
    print('For this tuple, first item was {} and second item was {}'.format(item1,item2))

In [ ]:
'x' in ['x','y','z']

In [ ]:
'x' in [1,2,3]

In [ ]:
'x' not in ['x','y','z']

In [ ]:
'x' not in [1,2,3]

In [ ]:
mylist = [10,20,30,40,100]

In [ ]:
min(mylist)

In [ ]:
max(mylist)

In [ ]:
from random import shuffle

In [ ]:
# This shuffles the list "in-place" meaning it won't return
# anything, instead it will effect the list passed
shuffle(mylist)

In [ ]:
mylist

In [ ]:
from random import randint

In [ ]:
# Return random integer in range [a, b], including both end points.
randint(0,100)

In [ ]:
# Return random integer in range [a, b], including both end points.
randint(0,100)

In [ ]:
input('Enter Something into this box: ')

In [ ]:
# 'word'
# collect every charchter in this string in a list
lst=[]

for x in 'word':
    lst.append(x)
    
print(lst)

In [ ]:
# Grab every letter in string
lst = [x for x in 'word']

In [ ]:
# Check
lst

In [ ]:
sqr_lst=[]

for x in range(0,11):
    sqr_lst.append(x**2)
    
print(sqr_lst)

In [ ]:
# Square numbers in range and turn into list
lst = [x**2 for x in range(0,11)]

In [ ]:
lst

In [ ]:
squr_lst=[]

for x in range(0,11):
    if x % 2 == 0:
        squr_lst.append(x)
    
print(squr_lst)

In [ ]:
# Check for even numbers in a range
lst = [x for x in range(11) if x % 2 == 0]

In [ ]:
lst

In [ ]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

fahrenheit

In [ ]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

In [ ]:
lst=[]

for x in range(0,11):
    lst.append(x**2)
    
new_lst=[]
for x in lst:
    new_lst.append(x**2)
    
print(new_lst)

In [ ]:
# Create a simple list
lst=[1,2,3,4,5]

In [ ]:
lst.append(6)

In [ ]:
lst

In [ ]:
lst.extend([7,8,9])

In [ ]:
lst

In [ ]:
lst.count(2)

In [ ]:
lst.insert(5,7)

In [ ]:
lst

In [ ]:
lst.remove(7)

In [ ]:
lst

In [ ]:
lst.insert(6,7)

In [ ]:
lst

In [ ]:
lst.reverse()

In [ ]:
lst

In [ ]:
lst.sort()

In [ ]:
lst

In [ ]:
lst.pop(0)

In [ ]:
lst

In [ ]:
lst.insert(0,1)

In [ ]:
lst

In [ ]:
lst.pop(7)

In [ ]:
lst

In [ ]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (docstring) goes.
    When you call help() on your function it will be printed out.
    '''
    # Do stuff here
    # Return desired result
    pass

In [ ]:
help(name_of_function)

In [ ]:
def name_of_function(arg1,arg2):
    # do the operation here
    pass

In [ ]:
help(name_of_function)

In [ ]:
def say_hello():
    print('hello')

In [ ]:
say_hello()

In [ ]:
say_hello

In [ ]:
def greeting(name):
    print(f'Hello {name}')

In [ ]:
greeting('Jose')

In [ ]:
greeting('ved')

In [ ]:
greeting('Dixith')

In [ ]:
name = greeting('Parul')

In [ ]:
print(name)

In [ ]:
def add_num(num1,num2):
    return num1+num2

In [ ]:
add_num(4,5)

In [ ]:
# Can also save as variable due to return
result = add_num(4,5)

In [ ]:
print(result)

In [ ]:
add_num('one','two')

In [ ]:
def print_result(a,b):
    print(a+b)

In [ ]:
def return_result(a,b):
    return a+b

In [ ]:
print_result(10,5)

In [ ]:
# You won't see any output if you run this in a .py script
return_result(10,5)

In [ ]:
# But what happens if we actually want to save this result for later use?
my_result = print_result(20,20)

In [ ]:
my_result

In [ ]:
print(my_result)

In [ ]:
type(my_result)

In [ ]:
# Be careful! Notice how print_result() doesn't let you actually save the result to a variable! It only prints it out,with 
# print() returning None for the assignment!

my_result = return_result(20,20)

In [ ]:
my_result

In [ ]:
my_result + 50

In [ ]:
2 % 2

In [ ]:
20 % 2

In [ ]:
21 % 2

In [ ]:
20 % 2 == 0

In [ ]:
21 % 2 == 0

In [ ]:
x = 4

if x%2 ==0:
    print("Even number : ",True)
else:
    print('odd number: ',False)

In [ ]:
def even_check(number):
    return number % 2 == 0

In [ ]:
even_check(20)

In [ ]:
even_check(21)

In [ ]:
def check_even_list(num_list):
    #go through each number
    for number in num_list:
        # once we get a "hit" on an even number,we return true
        if number %2==0:
            return True
        #Otherwise we don't do anything
        else:
            pass

In [ ]:
check_even_list([1,2,3])

In [ ]:
check_even_list([1,1,1])

In [ ]:
def check_mom_list(num_list):
    for number in num_list:
        if number %2==0:
            return True
        else:
            pass

In [ ]:
check_mom_list([1,2,3])

In [ ]:
check_mom_list([1,1,1])

In [ ]:
def check_even_list(num_list):
    # Go through each number
    for number in num_list:
        # Once we get a "hit" on an even number, we return True
        if number % 2 == 0:
            return True
        # This is WRONG! This returns False at the very first odd number!
        # It doesn't end up checking the other numbers in the list!
        else:
            return False

In [ ]:
# UH OH! It is returning False after hitting the first 1
check_even_list([1,2,3])

In [ ]:
def check_even_list(num_list):
    # Go through each number
    for number in num_list:
        # Once we get a "hit" on an even number, we return True
        if number % 2 == 0:
            return True
        # Don't do anything if its not even
        else:
            pass
    # Notice the indentation! This ensures we run through the entire for loop    
    return False

In [ ]:
check_even_list([1,2,3])

In [ ]:
check_even_list([1,3,5])

In [ ]:
num_list=[1,2,3]
for number in num_list:
    print(number)
    if number%2==0:
        print(True)
    else:
        print(False)

In [ ]:
def check_even_list(num_list):
    for number in num_list:
        if number %2==0:
            return True
        else:
            pass
    return False

In [ ]:
check_even_list([1,2,3])

In [ ]:
check_even_list([1,3,5])

In [ ]:
def check_even_list(num_list):
    
    even_numbers = []
    
    # Go through each number
    for number in num_list:
        # Once we get a "hit" on an even number, we append the even number
        if number % 2 == 0:
            even_numbers.append(number)
        # Don't do anything if its not even
        else:
            pass
    # Notice the indentation! This ensures we run through the entire for loop    
    return even_numbers

In [ ]:
check_even_list([1,2,3,4,5,6])

In [ ]:
check_even_list([1,3,5])

In [ ]:
def check_even_list(num_list):
    even_numbers=[]
    for number in num_list:
        if number %2==0:
            even_numbers.append(number)
        else:
            pass
    return even_numbers

In [ ]:
check_even_list([1,2,3,4,5])

In [ ]:
check_even_list([1,3,5])

## Returning Tuples for unpacking

In [ ]:
stock_prices=[('AAPL',200),('GOOG',300),('MSFT',400)]

In [ ]:
for item in stock_prices:
    print(item)

In [ ]:
for stock,prices in stock_prices:
    print(stock)

In [ ]:
for stock,prices in stock_prices:
    print(prices)

In [ ]:
work_hours=[('Abby',100),('Billy',400),('Cassie',800)]

In [ ]:
def employee_check(work_hours):
    
     # Set some max value to intially beat, like zero hours
    current_max = 0
    # Set some empty value before the loop
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    # Notice the indentation here
    return (employee_of_month,current_max)

In [ ]:
employee_check(work_hours)

In [ ]:
def employee_check(work_hours):
    current_max=0
    employee_of_month=''
    for employee,hours in work_hours:
        if hours>current_max:
            current_max=hours
            employee_of_month=employee
        else:
            pass
    return (employee_of_month,current_max)

In [ ]:
employee_check(work_hours)

### How to shuffle a list in Python

In [ ]:
example = [1,2,3,4,5]

In [ ]:
from random import shuffle

In [ ]:
# Note shuffle is in-place
shuffle(example)

In [ ]:
example

### Ok, let's create our simple game

In [ ]:
my_list=['','0','']

In [ ]:
def shuffle_list(my_list):
    #Take in list, and returned shuffle versioned
    shuffle(my_list)
    return my_list

In [ ]:
my_list

In [ ]:
shuffle_list(my_list)

In [ ]:
def player_guess():
    
    guess = ''
    
    while guess not in ['0','1','2']:
        
        # Recall input() returns a string
        guess = input("Pick a number: 0, 1, or 2:  ")
    
    return int(guess)

In [ ]:
player_guess()

Now we will check the user's guess. Notice we only print here, since we have no need to save a user's guess or the shuffled list.

In [ ]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print('Correct Guess!')
    else:
        print('Wrong! Better luck next time')
        print(mylist)

Now we create a little setup logic to run all the functions. Notice how they interact with each other!

In [ ]:
# Initial List
mylist = [' ','O',' ']

# Shuffle It
mixedup_list = shuffle_list(mylist)

# Get User's Guess
guess = player_guess()

# Check User's Guess
#------------------------
# Notice how this function takes in the input 
# based on the output of other functions!
check_guess(mixedup_list,guess)

# Lambda Expressions, Map, and Filter

### map function

In [ ]:
def square(num):
    return num**2

In [ ]:
my_nums=[1,2,3,4,5]

In [ ]:
map(square,my_nums)

In [ ]:
# To get the results, either iterate through map() 
# or just cast to a list
list(map(square,my_nums))

The functions can also be more complex

In [ ]:
def splicer(mystring):
    if len(mystring)%2==0:
        return 'even'
    else:
        return mystring[0]

In [ ]:
mynames=['ved','parul','prachi','Ami','Dixith']

In [ ]:
list(map(splicer,mynames))

In [ ]:
splicer('john')

### filter function

In [ ]:
def check_even(num):
    return num%2==0

In [ ]:
nums=[0,1,2,3,4,5,6,7,8,9,10]

In [ ]:
filter(check_even,nums)

In [ ]:
list(filter(check_even,nums))

### lambda expression

In [ ]:
def square(num):
    result=num**2
    return result

In [ ]:
square(5)

We could simplify it:

In [ ]:
def square(num): return num**2

In [ ]:
square(4)

This is the form a function that a lambda expression intends to replicate. A lambda expression can then be written as:

In [ ]:
lambda num: num ** 2

In [ ]:
square = lambda num: num **2

In [ ]:
square(3)

In [ ]:
list(map(lambda num: num ** 2, my_nums))

In [ ]:
list(filter(lambda n: n % 2 == 0,nums))

** Lambda expression for grabbing the first character of a string: **

In [ ]:
lambda s: s[0]

In [ ]:
mynames=['ved','parul','prachi','Ami','Dixith']
list(map(lambda name:name[2],mynames))

** Lambda expression for reversing a string: **

In [ ]:
lambda s: s[::-1]

You can even pass in multiple arguments into a lambda expression. Again, keep in mind that not every function can be translated into a lambda expression.

In [ ]:
lambda x,y : x + y

In [ ]:
def add_num(x,y):
    return x+y

In [ ]:
add_num(2,3)

In [ ]:
num_list1=[1,2,3]
num_list2=[2,3,4]
num_list3=[3,4,5]
list(map(lambda x,y,z : x+y+z, num_list1,num_list2,num_list3))

You will find yourself using lambda expressions often with certain non-built-in libraries, for example the pandas library for data analysis works very well with lambda expressions.

# Nested Statements and Scope

In [ ]:
x = 25

def printer():
    x = 50
    return x

# print(x)
# print(printer())

In [ ]:
print(x)

In [ ]:
print(printer())

In [ ]:
print(x)

# Quick examples of LEGB
### Local

In [ ]:
# x is local here:
f = lambda x:x**2

### Enclosing function locals

This occurs when we have a function inside a function (nested functions)

In [ ]:
name = 'This is a global name'

def greet():
    # Enclosing function
    name = 'Sammy'
    
    def hello():
        print('Hello '+name)
    
    hello()

greet()

In [ ]:
name='This is a global name'
def greet():
    name= 'Dixith'
    def hello():
        print('Hello '+name)
    hello()
greet()

## Global

In [ ]:
print(name)

## Built-in

In [ ]:
len

## Local Variables

In [ ]:
x = 50

def func(x):
    print('x is', x)
    x = 2
    print('Changed local x to', x)

func(x)
print('x is still', x)

## The global statement

In [ ]:
x = 50

def func():
    global x
    print('This function is now using the global x!')
    print('Because of global x is: ', x)
    x = 2
    print('Ran func(), changed global x to', x)

print('Before calling func(), x is: ', x)
func()
print('Value of x (outside of func()) is: ', x)

## *args and **kwargs

In [ ]:
def myfunc(a,b):
    return sum((a,b))*.05
myfunc(40,60)

In [ ]:
myfunc(40,30,30)

### *kwargs

In [ ]:
def myfunc(a=0,b=0,c=0,d=0,e=0):
    return sum((a,b,c,d,e))*.05

myfunc(40,60,20)

### *args

In [ ]:
def myfunc(*args):
    return sum(args)*.05

myfunc(40,60,20,30)

In [ ]:
def myfunc(*spam):
    return sum(spam)*.05

myfunc(40,60,20,30)

### **kwargs

In [ ]:
my_dict={'Juice':'Apple',
         'Fruit':'Orange',
         'Soda':'coke',
         'Food':'Pizza'}

In [ ]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print(f"My favorite fruit is {kwargs['fruit']}")  # review String Formatting and f-strings if this syntax is unfamiliar
    elif 'Soda' in kwargs:
        print(f"My favorite Soda is {kwargs['Soda']}")
    else:
        print("I don't like fruit")
        
myfunc(fruit='pineapple')

In [ ]:
myfunc(**my_dict)

###  **args and ***kwargs combined

In [ ]:
def myfunc(*args, **kwargs):
    if 'fruit' and 'juice' in kwargs:
        print(f"I like {' and '.join(args)} and my favorite fruit is {kwargs['fruit']}")
        print(f"May I have some {kwargs['juice']} juice?")
    else:
        pass
        
myfunc('eggs','spam','Vegetables','Bread',fruit='cherries',juice='orange')

In [ ]:
my_dict={'Juice':'Apple',
         'Fruit':'Orange',
         'Soda':'coke',
         'Food':'Pizza'}
my_list=['eggs','spam','Vegetables','Bread']

In [ ]:
myfunc(*my_list,**my_dict)

## Numpy

In [ ]:
import numpy as np

In [ ]:
arr=np.array([[1,2,3],[4,2,5]],dtype='int64')

In [ ]:
arr

In [ ]:
type(arr)

In [ ]:
arr.shape

In [ ]:
arr.dtype

In [ ]:
arr.ndim

## Array creation

In [ ]:
mylist=[[1,2,3,4],
        [5,6,7,8] ]

In [ ]:
myarr=np.array(mylist,dtype='float')

In [ ]:
myarr

In [ ]:
myarr=np.array(mylist,dtype='int')

In [ ]:
myarr

In [ ]:
# create an array of size 3x4 filled with os
c=np.zeros((3,4),dtype='int')

In [ ]:
c

In [ ]:
c=np.ones((3,4),dtype='int')

In [ ]:
c

In [ ]:
d=np.full((3,3),6+2j,dtype='complex')

In [ ]:
d

In [ ]:
e=np.random.random((2,2))

In [ ]:
e

In [ ]:
# create a sequence of inegers from 0 to 30 with steps of 5
f=np.arange(0,30,5)

In [ ]:
f

In [ ]:
# create a sequence of 10 values in range 0 to 5
g = np.linspace(1, 10, 3)

In [ ]:
g

In [ ]:
# sequence of 10 random integers in range 0 to 10
h = np.random.randint(0, 10, (3,4))

In [ ]:
h

In [ ]:
# reshaping 3X4 array to 2X2X3 array
arr = np.array([[1, 2, 3, 4],
                [5, 2, 4, 2],
                [1, 2, 0, 1]])

newarr = arr.reshape(2,2,3)

In [ ]:
newarr

In [ ]:
newarr.shape

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])

In [ ]:
arr

In [ ]:
arr.shape

In [ ]:
arr.T

In [ ]:
len(arr)

In [ ]:
arr.flatten?

In [ ]:
flarr = arr.flatten(order='K')

In [ ]:
flarr

In [ ]:
len(flarr)

In [ ]:
flarr.shape 
#(n,) --> 1 dimension and have n elements

In [ ]:
flarr_T = flarr.T

In [ ]:
flarr_T

In [ ]:
flarr_T.shape

In [ ]:
flarr.ndim

In [ ]:
# an exemplar array
arr = np.array([[-1, 2, 0, 4],
                [4, -0.5, 6, 0],
                [2.6, 0, 7, 8],
                [3, -7, 4, 2.0]])

In [ ]:
arr.shape

In [ ]:
arr.ndim

In [ ]:
temp = arr[:3 , :]

In [ ]:
temp

In [ ]:
arr

In [ ]:
temp = arr[[0, 1, 2, 3], 
           [3, 2, 1, 0]]

In [ ]:
temp

In [ ]:
cond = arr > 0

In [ ]:
cond

In [ ]:
# array elements which satisfy the condition
temp = arr[cond]

In [ ]:
temp

In [ ]:
a = np.array([1, 2, 5, 3])

In [ ]:
# add 1 to every element
a+1

In [ ]:
# subtract 3 from each element
a-3

In [ ]:
# multiply each element by 10
a*10

In [ ]:
# square each element
a**2

In [ ]:
# modify existing array
a *= 2

In [ ]:
a

In [ ]:
# sample array
a = np.array([[1, 2, 3], [3, 4, 5], [9, 6, 0]])

In [ ]:
a

In [ ]:
# transpose of array
a.T

In [ ]:
arr = np.array([[1, 5, 6], 
                [4, 7, 2], 
                [3, 1, 9]])

In [ ]:
# maximum element of array
arr.max()

In [ ]:
# row-wise maximum elements
arr.max(axis=1)

In [ ]:
# column wise minimum elements
arr.min(axis=0)

In [ ]:
# sum of all array elements
arr.sum()

In [ ]:
# sum of each row
arr.sum(axis=1)

In [ ]:
# cumulative sum along each row
arr.cumsum(axis=1)

In [ ]:
a = np.array([[1, 2], 
              [3, 4]])
b = np.array([[4, 3], 
              [2, 1]])

In [ ]:
# sum of arrays
a + b

In [ ]:
# multiply arrays (elementwise multiplication)
a*b

In [ ]:
# matrix multiplication
a.dot(b)

In [ ]:
np.cross(a,b)

In [ ]:
a = np.array([0, np.pi/2, np.pi])

In [ ]:
a

In [ ]:
np.sin(a)

In [ ]:
np.exp(a)

In [ ]:
np.sqrt(a)

In [ ]:
a = np.array([[1, 4, 2],
              [3, 4, 6],
              [0, -1, 5]])

In [ ]:
# array elements in sorted order
np.sort(a, axis=None)

In [ ]:
# sort array row wise
np.sort(a, axis=1)

In [ ]:
np.sort?

In [ ]:
# specify sort algorithm
np.sort(a, axis = 0, kind = 'mergesort')

In [ ]:
a = np.array([[1, 2],
              [3, 4]])

b = np.array([[5, 6],
              [7, 8]])

In [ ]:
# vertical stacking
np.vstack((a, b))

In [ ]:
# horizontal stacking
np.hstack((a, b))

In [ ]:
# new array
c = [5, 6]

In [ ]:
# stacking array c as a column to array a
np.column_stack((a, c))

In [ ]:
# stacking array c as a row to array a
np.row_stack((a, c))

In [ ]:
# concatenation method
np.concatenate((a,b),axis=1)

In [ ]:
a = np.array([[1, 3, 5, 7, 9, 11],
              [2, 4, 6, 8, 10, 12]])

In [ ]:
np.hsplit?

In [ ]:
# horizontal splitting in 2 parts --> column wise
np.hsplit(a, 2)

In [ ]:
# vertical splitting in 2 parts --> row wise
np.vsplit(a, 2)

In [ ]:
a = np.array([1.0, 2.0, 3.0])

In [ ]:
b = [2.0, 2.0]

In [ ]:
b = np.array([2.0])

In [ ]:
a*b

In [ ]:
a = np.array([0.0, 10.0, 20.0, 30.0])
b = np.array([0.0, 1.0, 2.0])

In [ ]:
a.shape,a.ndim

In [ ]:
a

In [ ]:
np.reshape(a,(4,-1)) # reshape -1 mean 1 columns

In [ ]:
a

In [ ]:
a[:, np.newaxis]

In [ ]:
b.shape

In [ ]:
b.shape,b.ndim,b.dtype

In [ ]:
a.shape

In [ ]:
a[:, np.newaxis] + b

In [ ]:
a.reshape(2,2) * b

In [ ]:
c = np.random.randint(1,9,(7,1,6,1))

In [ ]:
d = np.random.randint(1,2,(3,1,5))

In [ ]:
d

In [ ]:
e = c+d

In [ ]:
e

In [ ]:
# coefficients
a = np.array([[1, 2], [3, 4]])
# constants
b = np.array([8, 18])

np.linalg.solve(a, b)

In [ ]:
A = np.array([[6, 1, 1],
              [4, -2, 5],
              [2, 8, 7]])

In [ ]:
np.append(np.array([[1, 2, 3], [4, 5, 6]]), np.array([[7, 8, 9]]), axis=0)

In [ ]:
np.append(A,np.array([[1,2,3]]),axis=0)

In [ ]:
# rank of matrix
np.linalg.matrix_rank(A)

In [ ]:
# trace of matrix
np.trace(A)

In [ ]:
# determinant of matrix
np.linalg.det(A)

In [ ]:
# inverse of matrix
np.linalg.inv(A)

In [ ]:
# matrix exponentiation
np.linalg.matrix_power(A, 3)

In [ ]:
a = np.array([[1,2,3],
             [4,5,6]])

b = np.array([[6,5,4],
              [3,2,1]])

In [ ]:
np.save("a.npy", a)

In [ ]:
arr = np.load("a.npy")

In [ ]:
arr

In [ ]:
np.savez("ab.npz", x=a, y=b)

In [ ]:
X = np.load("ab.npz")

In [ ]:
X['x']

In [ ]:
X['y']

## matplotlib

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
x = [1,2,3]
y = [2,4,1]

In [ ]:
# Plot points on graph paper!
plt.plot(x,y)

# Give title to your graph!
plt.title('My first graph!')

# Specify X and Y axis labels
plt.xlabel('x - axis')
plt.ylabel('y - axis')

# Show the plot
plt.show()

# Close the plot
plt.close()

In [ ]:
# line 1 points
x1 = [1,2,3]
y1 = [2,4,1]

# line 2 points
x2 = [1,2,3]
y2 = [4,1,3]

In [ ]:
# plotting the line 1 points 
plt.plot(x1, y1, label = "line 1")

# plotting the line 2 points 
plt.plot(x2, y2, label = "line 2")

plt.xlabel('x - axis')
plt.ylabel('y - axis')

plt.title('Two lines on same graph!')

# show labels for different lines in a legend
plt.legend()

plt.show()

plt.close()

In [ ]:
# x-coordinates of left sides of bars 
left = [1, 2, 3, 4, 5]

In [ ]:
plt.style.available

In [ ]:
plt.style.use('classic')

In [ ]:
x = [2,2,3,4,5,6]
y = [2,4,3,5,2,6]

In [ ]:
plt.figure(figsize=(6,4))
plt.plot(x, y, color='Green', linestyle='dashed', linewidth = 3,
         marker='o', markerfacecolor='blue', markersize=4)

# setting x and y axis range
plt.ylim(1,7)
plt.xlim(1,7)

plt.xlabel('x - axis')
plt.ylabel('y - axis')

plt.title('Customized Graph')

plt.show()
plt.close()
plt.savefig('customized_graph.png',bbox_inches='tight')

In [ ]:
# heights of bars
height = [10, 24, 36, 40, 5]

In [ ]:
# labels for bars
tick_label = ['one', 'two', 'three', 'four', 'five']

In [ ]:
# plotting a bar chart
plt.bar(left, height, tick_label = tick_label,
        width = 0.8, color = ['red', 'blue'])

plt.xlabel('x - axis')
plt.ylabel('y - axis')

plt.title('My bar chart!')

plt.show()
plt.close()

In [ ]:
# x-coordinates of left sides of bars 
left = [1, 2, 3, 4, 5]

In [ ]:
# heights of bars
height = [10, 24, 36, 40, 5]

In [ ]:
# labels for bars
tick_label = ['one', 'two', 'three', 'four', 'five']

In [ ]:
# plotting a bar chart
plt.bar(left, height, tick_label = tick_label,
        width = 0.8, color = ['red', 'blue'])

plt.xlabel('x - axis')
plt.ylabel('y - axis')

plt.title('My bar chart!')

plt.show()
plt.close()

In [ ]:
ages = [2,5,70,40,30,45,50,45,43,40,44,
        60,7,13,57,18,90,77,32,21,20,40]

In [ ]:
# setting the ranges and no. of intervals
range = (0, 100)
bins = 10

In [ ]:
# plotting a histogram
plt.hist(ages, bins, range, color = 'red',
        histtype = 'bar', rwidth = 0.8)

plt.xlabel('age')
plt.ylabel('No. of people')

plt.title('My histogram')

plt.show()
plt.close()

In [ ]:
x = [1,2,3,4,5,6,7,8,9,10]
y = [2,4,5,7,6,8,9,11,12,12]

In [ ]:
# plotting points as a scatter plot
plt.scatter(x, y, label= "stars", color= "g", 
            marker= "*", s=30)

plt.xlabel('x - axis')
plt.ylabel('y- axis')

plt.title('My scatter plot!')

plt.legend()

plt.show()
plt.close()

In [ ]:
# defining labels
activities = ['eat', 'sleep', 'work', 'play']

In [ ]:
# portion covered by each label
slices = [3, 7, 8, 6]

In [ ]:
# color for each label
colors = ['r', 'm', 'g', 'b']

In [ ]:
# plotting the pie chart
plt.pie(slices, labels = activities, colors=colors, 
        startangle=10, shadow = True, explode = (0, 0, 0.1, 0),
        radius = 1.2,autopct = '%0.1f%%' )

plt.legend()

plt.show()
plt.close()

In [ ]:
import numpy as np

In [ ]:
x = np.arange(0, 2*(np.pi), 0.1)
y = np.sin(x)

In [ ]:
x

In [ ]:
y

In [ ]:
plt.plot(x, y)

plt.show()
plt.close()

In [ ]:
# function to generate coordinates
def create_plot(ptype):
    # setting the x-axis vaues
    x = np.arange(-10, 10, 0.01)
     
    # setting the y-axis values
    if ptype == 'linear':
        y = x
    elif ptype == 'quadratic':
        y = x**2
    elif ptype == 'cubic':
        y = x**3
    elif ptype == 'quartic':
        y = x**4
             
    return(x, y)

In [ ]:
# create a figure
fig = plt.figure()

# define subplots and their positions in figure
plt1 = fig.add_subplot(221)
plt2 = fig.add_subplot(222)
plt3 = fig.add_subplot(223)
plt4 = fig.add_subplot(224)

# plotting points on each subplot
x, y = create_plot('linear')
plt1.plot(x, y, color ='r')
plt1.set_title('$y_1 = x$')
 
x, y = create_plot('quadratic')
plt2.plot(x, y, color ='b')
plt2.set_title('$y_2 = x^2$')
 
x, y = create_plot('cubic')
plt3.plot(x, y, color ='g')
plt3.set_title('$y_3 = x^3$')
 
x, y = create_plot('quartic')
plt4.plot(x, y, color ='k')
plt4.set_title('$y_4 = x^4$')

# adjusting space between subplots
fig.subplots_adjust(hspace=.5,wspace=0.5)

plt.show()
plt.close()

In [ ]:
# function to generate coordinates
def create_plot(ptype):
    # setting the x-axis vaues
    x = np.arange(0, 5, 0.01)
     
    # setting y-axis values
    if ptype == 'sin':
        # a sine wave
        y = np.sin(2*np.pi*x)
    elif ptype == 'exp':
        # negative exponential function
        y = np.exp(-x)
    elif ptype == 'hybrid':
        # a damped sine wave
        y = (np.sin(2*np.pi*x))*(np.exp(-x))
             
    return(x, y)

In [ ]:
# defining subplots and their positions
plt1 = plt.subplot2grid((11,1), (0,0), rowspan = 3, colspan = 1)
plt2 = plt.subplot2grid((11,1), (4,0), rowspan = 3, colspan = 1)
plt3 = plt.subplot2grid((11,1), (8,0), rowspan = 3, colspan = 1)

# plotting points on each subplot
x, y = create_plot('sin')
plt1.plot(x, y, label = 'sine wave', color ='b')

x, y = create_plot('exp')
plt2.plot(x, y, label = 'negative exponential', color = 'r')

x, y = create_plot('hybrid')
plt3.plot(x, y, label = 'damped sine wave', color = 'g')

# show legends of each subplot
plt1.legend()
plt2.legend()
plt3.legend()

plt.show()

# Pandas

In [ ]:
import pandas as pd

In [ ]:
import os

In [ ]:
os.getcwd()

In [ ]:
os.listdir()

In [ ]:
pd.__version__

In [ ]:
imdb_df=pd.read_csv

In [ ]:
# Data: Is what kind of file is where my data residing
# Path: where is my data residing in my computer.
    # reference location
    # exact location

In [ ]:
pd.read_csv("data/imdb_1000.csv") #--reference location

In [ ]:
# Windows path
pd.read_csv(r"C:\Users\Dixith\OneDrive\Desktop\Top Mentor\Top Mentor Batch-58\Day-14\Day-14\Python libraries\data\imdb_1000.csv")

In [ ]:
If you want to read the file you must use forward slash(/)      #exact location in below of data  imdb_1000

In [ ]:
# Windows path
pd.read_csv("C:/Users/Dixith/OneDrive/Desktop/Top Mentor/Top Mentor Batch-58/Day-14/Day-14/Python libraries/data/imdb_1000.csv")

In [ ]:
# Windows path
pd.read_csv("C:\\Users\\Dixith\\OneDrive\\Desktop\\Top Mentor\\Top Mentor Batch-58\\Day-14\\Day-14\\Python libraries\\data\\imdb_1000.csv")

## IMDB DATA

In [ ]:
imdb_df=pd.read_csv("C:/Users/Dixith/OneDrive/Desktop/Top Mentor/Top Mentor Batch-58/Day-14/Day-14/Python libraries/data/imdb_1000.csv")

In [ ]:
type(imdb_df)

In [ ]:
imdb_df.head()

In [ ]:
imdb_df.tail()

In [ ]:
imdb_df.sample()

In [ ]:
imdb_df.columns

In [ ]:
imdb_df.dtypes

In [ ]:
imdb_df.shape

In [ ]:
imdb_df.info()

# Bikes Data

In [ ]:
pd.read_csv("C:/Users/Dixith/OneDrive/Desktop/Top Mentor/Top Mentor Batch-58/Day-14/Day-14/Python libraries/data/bikes.csv")

In [ ]:
bikes_df=pd.read_csv("C:/Users/Dixith/OneDrive/Desktop/Top Mentor/Top Mentor Batch-58/Day-14/Day-14/Python libraries/data/bikes.csv")

In [ ]:
bikes_df.head()

In [ ]:
bikes_df.shape

In [ ]:
bikes_df=pd.read_csv("C:/Users/Dixith/OneDrive/Desktop/Top Mentor/Top Mentor Batch-58/Day-14/Day-14/Python libraries/data/bikes.csv", sep=';')

In [ ]:
bikes_df.head()

In [ ]:
bikes_df.shape

In [ ]:
bikes_df = pd.read_csv("C:/Users/Dixith/OneDrive/Desktop/Top Mentor/Top Mentor Batch-58/Day-14/Day-14/Python libraries/data/bikes.csv", sep=';',parse_dates=['Date'], dayfirst=True, index_col='Date')

In [ ]:
bikes_df.head()

In [ ]:
bikes_df.columns

In [ ]:
bikes_df.dtypes

In [ ]:
bikes_df.info()

#  summary
### describe() to summarize your data

In [ ]:
imdb_df

In [ ]:
import numpy as np

In [ ]:
imdb_df.dtypes

In [ ]:
imdb_df.describe(include=np.number)  #default it summarizes numerical data

In [ ]:
imdb_df.describe(include=np.object)

In [ ]:
imdb_df.describe(include=[np.object,np.number])

# Creating data frame using list/tuples

In [ ]:
# The inital set of baby names and bith rates
names=['Bob','Jessica','marry','john','Mel']
births=[968,155,77,578,973]

In [ ]:
names,births

In [ ]:
list(zip(names,births))

In [ ]:
babydataset=list(zip(names,births))

In [ ]:
df = pd.DataFrame(data=babydataset,columns=['Names','Births']) #in dataframe "capital D FOR Data and F for Frame"

In [ ]:
df.head()

In [ ]:
# saving dataframe as csv file
df.to_csv('C:/Users/Dixith/OneDrive/Desktop/Top Mentor/Top Mentor Batch-58/Day 11/Day 11/births.csv',index=False)

In [ ]:
births_df=pd.read_csv("C:/Users/Dixith/OneDrive/Desktop/Top Mentor/Top Mentor Batch-58/Day 11/Day 11/births.csv")

In [ ]:
births_df

# Creating data frame using dictionaries

In [ ]:
# The inital set of baby names and bith rates
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]

In [ ]:
data_dict={"names":names,"births":births}

In [ ]:
type(data_dict)

In [ ]:
data_dict.keys(),data_dict.values()

In [ ]:
pd.DataFrame.from_dict(data_dict)

## Selecting columns

When you read a CSV, you get a kind of object called a DataFrame, which is made up of rows and columns. You get columns out of a DataFrame the same way you get elements out of a dictionary.

In [ ]:
imdb_df.columns

In [ ]:
imdb_df['title']

In [ ]:
type(imdb_df['title'])

In [ ]:
bikes_df.columns

In [ ]:
bikes_df['Berri1']

In [ ]:
bikes_df.head()

In [ ]:
imdb_df.head()

In [ ]:
# selecting multiple columns at once
imdb_df[['star_rating', 'genre']]

## Understanding columns

On the inside, the type of a column is ``pd.Series`` and pandas Series are internally numpy arrays. If you add ``.values`` to the end of any Series, you'll get its internal **numpy array**.

In [ ]:
durations=imdb_df['duration']

In [ ]:
durations.index

In [ ]:
durations.values

In [ ]:
type(durations)

In [ ]:
durations.values

In [ ]:
type(durations.values)

In [ ]:
duration_arr=durations.values

In [ ]:
duration_arr[:5]

## Applying functions to columns

In [ ]:
capitalizer=lambda x: x.upper()

In [ ]:
imdb_df['title'].apply(capitalizer)

## Plotting a column

Use ``.plot()`` function!

In [ ]:
%matplotlib inline

In [ ]:
bikes_df.head()

In [ ]:
bikes_df['Berri1'].plot()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
x=bikes_df['Berri1'].index
y=bikes_df['Berri1'].values
plt.plot(x,y)

In [ ]:
bikes_df.plot(figsize=(15,10))

## Index

### DATAFRAME = COLUMNS + INDEX + ND DATA

### SERIES = INDEX + 1-D DATA

**Index** or (**row labels**) is one of the fundamental data structure of pandas. It can be thought of as an **immutable array** and an **ordered set**.

> Every row is uniquely identified by its index value.

In [ ]:
imdb_df

In [ ]:
# name location -- use .loc method
# index location -- use .iloc method

In [ ]:
imdb_df.index

In [ ]:
imdb_df.values

In [ ]:
imdb_df.loc[5]

In [ ]:
imdb_df.iloc[5]

In [ ]:
bikes_df

In [ ]:
bikes_df.index

In [ ]:
list(bikes_df.columns)[2:8]

In [ ]:
bikes_df.index

#### To get row by name location:

Use ``.loc[]`` for purely name-location based indexing for selection by position.

In [ ]:
# get row for date 2012-01-01
bikes_df.loc['2012-01-01']

#### To get row by integer index:

Use ``.iloc[]`` for purely integer-location based indexing for selection by position.

In [ ]:
bikes_df.iloc[0]

In [ ]:
# fetch first 5 rows of dataframe
bikes_df[:5]

In [ ]:
# fetch first 5 rows of a specific column
bikes_df['Berri1'][:5]

### Slicing using .iloc and loc method

In [ ]:
imdb_df

In [ ]:
# imdb_df.loc[row,column]
# imdb_df.loc[start_row:end_row:step_size , start_column:end_column:step]

imdb_df.loc[0:5:1,'star_rating':'duration':2]

In [ ]:
# imdb_df.iloc[row,column]
# imdb_df.iloc[start_row:end_row:step_size , start_column:end_column:step]

imdb_df.iloc[0:5:1, 0:5:2]

In [ ]:
bikes_df

In [ ]:
'2012-01-05 , 2012-01-10' and 'Berri1' ,'PierDup'

In [ ]:
import datetime

In [ ]:
list(bikes_df.index).index(datetime.datetime(2012,12,27))

In [ ]:
bikes_df.loc[ '2012-01-05': '2012-01-10','Berri1' :'PierDup']

In [ ]:
bikes_df.iloc[ 4:10:1 , 2:8:1]

## Value counts

Get count of unique values in a particular column/Series.

In [ ]:
imdb_df['genre'].value_counts()

In [ ]:
# plotting value counts as a bar chart
imdb_df['genre'].value_counts().plot(kind='bar')

# Selecting rows where column has a particular value

In [ ]:
imdb_df['genre'] == 'Adventure'

In [ ]:
# select only those movies where genre is adventure
adventure_movies = imdb_df[imdb_df['genre'] == 'Adventure']

In [ ]:
adventure_movies.head()

In [ ]:
good_adventure_movies = imdb_df[(imdb_df['genre'] == 'Adventure') & (imdb_df['star_rating'] > 8.4)]

In [ ]:
good_adventure_movies

In [ ]:
# organised way
is_adventure = imdb_df['genre'] == 'Adventure'
has_high_rating = imdb_df['star_rating'] > 8.4
good_adventure_movies = imdb_df[is_adventure & has_high_rating]

# Just see title and duration of good adventure movies
good_adventure_movies[['title', 'duration']]

In [ ]:
# which genre has highest number of movies with star rating above 8?
has_above_8_rating = imdb_df['star_rating'] >= 8.0
good_movies = imdb_df[has_above_8_rating]
good_movies_genre_count = good_movies['genre'].value_counts()

In [ ]:
good_movies_genre_count

In [ ]:
good_movies_genre_count.idxmax()

## Adding a new column to DataFrame

In [ ]:
weekdays = bikes_df.index.weekday

In [ ]:
weekdays

In [ ]:
bikes_df['weekday'] = weekdays

In [ ]:
bikes_df

In [ ]:
## Deleting an existing column from DataFrame